body {
    background-color: #F39494;
}

form {
    background-color: #FFFEFE;
    text-align: center;
    font-family: 'Open Sans', monospace;
    width: 582px;
    height: 573px;
    border-radius: 10px;
    margin: 225px 429px 226px;


}

h1 {
    font-size: 36px;
    line-height: 49.03px;
    font-weight: 700;
    padding: 72px 0px 0px 0px;
    margin: 0px;
}

p,
a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
}

a {
    color: #089FE0;
}

input {
    width: 394px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;

}

#mycompany {
    background-color: #FFFFFF;
    border: 1px solid;
}

button {
    color: #FFFFFF;
    background-color: #089FE0;
}

input,
button {
    width: 394px;
    height: 44px;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
}

#access {
    color: #F5F5F5;
    border: 1px solid #EEEEEE;
    width: 15px;
    height: 16px;
}