* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#374151, #111827);
    font-family: 'Roboto', monospace;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    max-width: 1440px;
    margin: 0 auto;
}

header,
main {
    max-width: 1080px;
    margin: 0 auto;
}

header {
    padding: 71px 0 69px;
}

header ul {
    list-style: none;
}

a {
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

header a {
    line-height: 18.75px;
    text-decoration: none;
}

header span {
    padding: 6px 12px;
    border-radius: 3px;
    background-color: #4b5563;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.63px;
    text-align: center;

}

input {
    font-size: 16px;
    border: none;
    border-radius: 100px;
    width: 224px;
    height: 40px;
    background: url(../images/search.png) no-repeat scroll 14px 14px;
    background-color: #1F2937;
    padding-left: 35px;
}

.myblog {
    font-size: 18px;
    line-height: 21.09px;
}

.frontend {
    line-height: 16.41px;
    text-align: center;
}

.opacity {
    opacity: 0.6;
}

h1 {
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    max-width: 525px;
    margin: 0 auto;
}

.developer {
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 28px;
}

.mainImage {
    max-width: 896px;
    max-height: 594px;
    border-radius: 5px;
    margin-bottom: 69px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    max-width: 708px;
    margin: 0 auto;
}

.text p:first-child {
    font-size: 20px;
    line-height: 32px;
}

.addText {
    font-size: 16px;
    line-height: 30px;
}

.text p:last-child {
    margin-bottom: 103px;
}

footer {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}